<!-- Left side column -->
<div id="meanu-mobile">
    <a href="#" (click)="menuToggle()">
      <span><i class="fa fa-bars"></i></span>
    </a>
  </div>
<aside class="main-sidebar" [class.active]="isActive">
    <!-- sidebar-->
    <section class="sidebar">
      
      <!-- sidebar menu -->
      <ul class="sidebar-menu">
        <li class="header">Advertisors</li>
        <input type="text" placeholder="search Adv" [(ngModel)]="advSearch" class="form-control">
        <li [class.active]="item === selectedAdv" *ngFor="let item of advItems | advFilter : advSearch" (click)="selectAdv(item)" >
            <a><i class="fa fa-circle-o text-red"></i> <span>{{ item.name }}</span></a>
        </li> 
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>