<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8"> 
  
    <ng-container *ngFor="let col of displayedColumns;last as isLast" [matColumnDef]="col">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{col| removeUnderscore | uppercase}} </th>
        <td mat-cell *matCellDef="let row"> <span *ngIf="action && !isLast || !action">{{row[col]}}</span>
          <span *ngIf="action && isLast"> 
              <div class="btn-group">
                  <button *ngIf="select" class="btn btn-flat btn-success" (click)="onRowClicked(row)">
                    Select
                  </button>
                  <button class="btn btn-flat btn-primary" (click)="onActionClicked(row)">
                      {{ action | removeUnderscore }}
                  </button>
              </div>
          </span>
        </td>
      </ng-container>
    
      
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>