/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
tr.mat-row:hover {
  background: #f5f5f5;
    cursor:pointer;
}  
button.mat-sort-header-button {
  text-transform: capitalize;
}